/*
COLORS
================================================ */
:root {
    --light-blue: #4db1ec;
    --blue: #1665cc;
    --purple: #b473bf;
    --pink: #ffb2c1;
    --orange: #ff9f67;
    --yellow: #ffd673;
    --light-green: #a2e29b;
    --green: #00a2af;
    --grey: #333;
    --white: #fff;
}

/*
일반 스타일
================================================ */
/* Layout */
.wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header,
h1,
h2,
.main-date {
    font-family: "Black Han Sans", sans-serif;
}

h1,
h2 {
    text-align: center;
    /* letter-spacing: .1em; */
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    line-height: 1.7;
}

img {
    max-width: 100%;
}


/*
================================================ */
html {
    font-size: 100%;
    /* 스무스 스크롤 */
    scroll-behavior: smooth;
}

body {
    /* 전체 글자 색상  */
	color: var(--grey);
	font-family:  "Noto Sans KR", sans-serif;
}


/*
HEADER
================================================ */
header {
    background: var(--grey);
    padding: 1rem 0;
    /* header 상단에 고정 */
    position: fixed;
    width: 100%;
    z-index: 1;  /* 중첩 속성. 값이 클수록 전면에 표시 */
}

.logo {
    letter-spacing: .05em;
    font-family: impact, sans-serif;
}

header a {
    color: var(--white);
    font-size: 1.5rem;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}

.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgba(255,255,255,.5);
    color: var(--white);
    padding: .5rem 1rem;
}

.main-nav {
    background: var(--grey);
    width: 0%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: .5s;
    font-family: impact, sans-serif;
}

.main-nav.open-menu {
    width: 100%;
}

.main-nav li {
    text-align: center;
    margin: 2rem 0;
}

.main-nav a {
    display: block;
}


/*
MAIN
================================================ */
#main {
    background-color: #4db1ec;
    background-image: url('../images/hero01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:screen;
    height: 100vh;
    animation: bg-color 24s infinite;  /* @keyframes bg-color 설정해야 나옴. */

    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}

@keyframes bg-color {
    0% {
        background-color: var(--light-blue);
    }
    12.5% {
        background-color: var(--blue);
    }
    25% {
        background-color: var(--purple);
    }
    37.5% {
        background-color: var(--pink);
    }
    50% {
        background-color: var(--orange);
    }
    62.5% {
        background-color: var(--yellow);
    }
    75% {
        background-color: var(--light-green);
    }
    87.5% {
        background-color: var(--green);
    }
    100% {
        background-color: var(--light-blue);
    }
}

#main h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.main-date {
    text-align: center;
    border-top: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
    padding: .5rem 0;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#main p {
    text-align: center;
}

/*
ABOUT
================================================ */
#about {
    padding: 4rem 1rem;
}

#about h2 {
    color: rgba(255, 255, 255, 0);
    background: linear-gradient(var(--yellow), var(--orange));
    background-clip: text;
}

#about p {
    margin-bottom: 2rem;
}


/*
CURRICULUM
================================================ */
#curriculum {
    background-image: linear-gradient(125deg, var(--light-green), var(--green));
    padding: 7rem 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

#curriculum h2 {
    color: var(--white);
}

.curriculum-table {
    color: var(--white);
    width: 100%;
}

.curriculum-table tr {
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.curriculum-table td {
    display: block;
    line-height: 1.5;
}

.week {
    font-size: .875rem;
    padding-top: 1rem;
}

.content {
    padding-bottom: 1rem;
}


/*
MENTORS
================================================ */
#mentors {
    padding: 4rem 1rem;
}

.mentors-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.mentors-text {
    margin-left: 1rem;
}

#mentors h2 {
    background: linear-gradient(var(--light-blue), var(--blue));
    background-clip: text;
    color: rgba(255, 255, 255, 0);
}

#mentors h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

#mentors img {
    border-radius: 50%;
    width: 20%;
}


/*
APPLY
================================================ */
#apply {
    background-image: linear-gradient(var(--pink), var(--purple));
    padding: 6rem 1rem 2rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

#apply h2 {
    color: var(--white);
}

.apply-form {
    max-width: 480px;
    margin: 0 auto 5rem;
}

.apply-form label {
    color: var(--white);
    display: block;
    margin-bottom: .5rem;
}

.apply-field {
    background: rgba(255,255,255,.6);
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
    font-family: inherit;
}

.apply-textarea {
    min-height: 6rem;
    resize: vertical;
}

.apply-btn {
    background: var(--grey);
    color: var(--white);
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}

/*
FOOTER
================================================ */
.footer {
    border-top: 1px solid rgba(255,255,255,0.5);
    padding-top: 2rem;
    text-align: center;
    font-size: .875rem;
    color: var(--white);
}
.footer a {
    text-decoration: underline;
}


/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
    /* 일반 스타일 */
    h2 {
        font-size: 5rem;
    }

    a:hover {
        color: var(--blue);
    }

    .apply-btn:hover {
        background: var(--blue);
    }

    a:hover, .apply-btn:hover {
        transition: .28s;
    }

    /* Header */
    .btn-menu {
        display: none;
    }

    .main-nav {
        width: 100%;
        position: static;
        display: flex;
    }

    .main-nav li {
        margin: 0 0 0 1.5rem;
    }

    /* main */
    #main h1 {
        font-size: 6.875rem;
        mix-blend-mode: overlay;
    }

    .main-date {
        font-size: 3rem;
    }

    /* Curriculum */
    .curriculum-table td {
        display: table-cell;
    }

    .week {
        padding: 1.125rem 0 1rem 1rem;
    }

    .content {
        padding: 1rem 1rem 1rem 0;
    }

    /* Mentors */
    #mentors h2 {
        margin-bottom: 4rem;
    }

    .mentors-list {
        margin-bottom: 3rem;
    }

    .mentors-text {
        margin-left: 2rem;
    }

}
